*{
    padding: 0;
    margin: 0;
   background-color: black;
}

.container{
    height: max-content;
    }
    .displayLogo{
        height: 100vh;
        width: 100%;
    }
    .pageTwoContainer{
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding-top: 20px;
        color: white;
        
    }
    .middleSection{
        margin-top: 200px;
        width: 500px;
        max-height: max-content;
        height: 600px;
        border-radius:  30px 0;
        
        
        
    }

    .logoPageTwo{
        width: 100px;
        align-self: self-end;
        align-self: center;
        align-items: center;
        margin-left: 180px;
        
      
        
        
    }

    .cbnLogo{
        width: 15px;
        margin-left: 15px
       
        
        
    }
    .Licensed {
        display: flex;
        align-self: normal;
        justify-content: center;
        
    }
    .Licensed p {
        font-size:small;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    #slide-1 , #slide-2 , #slide-3{
        width: 200px;
        
    }

    .imageSection{
        padding: 20px;
        padding-top: 10px;
    }
    .slider-wrapper{
        position: relative;
        max-width: 210px;
       
        margin: 0 auto;
    }
    .slider{
        display: flex;
        aspect-ratio: 4 / 3;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: none;
        
    }
    #button{
        line-height: 60px;
        height: max-content;
        padding: 20px;
        

    }
    .login , .get-started {
        width: 450px;
        height: 50px;
        border-radius: 10px;
    }
    .get-started {
        color: white;
        background-color: #ab2656;
        border: none;
    }
    .login {
        background-color: white;
        color: #ab2656;
        border:  red;

    }
    #lastdiv{
        display: flex;
        
        height: 70px;
        width: 450px;
        margin: auto;
        justify-content: space-between;
        padding: 0 10px;
    }
    #lastdiv img{ width: 50px;
        align-items: center;

    }
    #lastdiv{
        text-align: center;
    }
    #lastdiv p{
        font-weight: lighter;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
    }
    .lastparagraph{
        margin-left: 250px;
        line-height: 50px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .middleSectionLogininterface{
        margin-top: 50px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.815);
        max-height: max-content;
        height: 600px;
       padding-left: 10px;
       padding-right: 10px;
       

    }
    .loginLogoPage{
        width: 100px;
        justify-content: center;
        align-self: center;
        align-items: center;
       
        
    }
    #img_Pdiv p{
        margin-left: 30px;
    }
    #img_Pdiv{
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 30px;
        
    }
    #img_Pdiv  .loginLogoPage{
        margin-left: 100px;
        
    }
    #img_Pdiv img{
        justify-content: center;
       
    }
    #img_Pdiv p{
        text-align: center;
        align-items: center;
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
        
        
    }
    .emaildiv{
       
        width: max-content; 
       }
       .passworddiv{
        width: max-content; 
        margin-top: 10px;
        
        
       }
       .passworddiv input img {
        display: flex;
       }
       .passworddiv img{
        width: 20px;
        margin-right: 100px;
        align-items: center;
        position: absolute;
        margin-right: 20px;
       
       }
       .passworddiv input{
        width:350px;
        min-width: fit-content;
        
       }
    label ,input {
        width: 350px;
        
    }
    label{
        font-size:30px;
        font-weight: 2px;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 50px;
        }
        
        
        input{
          
           background: none;
           color: white;
           border: none;
           border-bottom: solid #ab2656 ;
           font-size: large;
           box-shadow: none;
           text-shadow: none;
           outline: none;
           
           }
           #forget {
            width: 350px;
            text-align: end;
            margin-top: 20px;
            font-size: small;
            color: #ab2656;
           
           }

          
        
      
           
         


         .loginButtonPageTwo{
            width: 345px;
            height: 50px;
            border-radius: 10px;
            margin: auto;
            color: white;
            background-color: #ab2656;
            border: none;
            
         }
           .Unable{
            line-height: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
           }
           span a{
            color: #ab2656;
           }
           ul{
            list-style:none;
           }
           ul li{
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
           }
           .pagegetstartedContainer{
            height: 100vh;
            width: 100%;
            background-color: rgb(0, 0, 0);
            padding-top: 20px;
            color: white;

           }
           .middleSectiongetstartedinterface{
            width: 400px;
            max-height: max-content;
            height: 600px;
            margin-top: 170px;
            padding: 5px;
             
           
           }
           .getstartedWelcomeDiv{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            
            
            
           }
           .getstartedWelcomeDiv p{
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 20px;
           }

           .getstartedWelcomeDiv img{
            width: 20px;
            margin-left: 5px;
            
           }
           .getstartedWelcomeDiv .what-youparagraph{
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
          
            
            
        } 
        .whatyoullgetAlat{
            max-height: max-content;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            justify-content: center;
            font-size: large;
            margin-top: 10px;
            
        }

        #imagediv{
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        #imagediv img{
            width: 50px;
            padding: 10px 20px;
           
            }

            #imagediv p{
                font-size: small;
                
            }

        .whatwe-required{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            
           
        }
        .whatwe-required p{
            font-size: large;
            font-family: Arial, Helvetica, sans-serif; 
        }
        .whatwe-required img{
            width: 20px;
            margin-left: 5px;
        }
        
        form{
            
            margin-top: 40px;
            padding: 0 10px;
        }
          .check-Box{
           width: 13px;
           height: 13px
           
          }
          .i-agree{
            display: block;
            padding: 0;
            padding-left: 5px;
            text-indent: -6px;
          }
#i-agree a{
color: #ab2656;
text-decoration: underline;


}

#i-agree p{
    font-family: Arial, Helvetica, sans-serif;
    

}

.buttontologindiv{
    margin-top: 30px;
   padding: 0px 20px 10px;
   
    

}

.proceedButton-GetStarted{
    width: 360px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    color: white;
    background-color: rgba(128, 128, 128, 0.336);
    border: none;
    font-size: small;
    padding-left: 10px;
    padding-right: 5px;
    
    
}
.newAlatCustomerDiv{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15px;
    
}
.newAlatCustomerDiv p{
    font-size: small;

}
.getA-Loan-middleSection{
    border:solid #ab2656;
    width: 500px;
    margin: auto;   
    max-height: max-content;
    height: 600px;
    border-radius:  30px 0;
    padding: 15px;
}
.arow-backdiv{
    margin-top: 20px;
   
}
.arow-backdiv img{
    width: 45px;
    height: 20px;
    

}
.getStarted-div{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: medium;
   

}
    .letgetto-know-you-countrydiv{
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: lighter;
    }
    
select{
    position: absolute;
    padding-right: 2px;
    background-color: transparent;
    color: white;
    border: none;
    margin-right: 40px;
}

.selectYourCountryInput{
    width:489px;
    min-width: fit-content;
    border-bottom: solid white ;
}

.phonenumberDiv{
    margin-top: 10px;
   
}

.selectphonenumberInput{
    width:100px;
    display: inline-block;
    border-bottom: solid white;
    
  
    
}

.customerphonenumebrInput{
    display: inline-block;
    width: 359px;
    margin-left: 30px;
    border-bottom: solid white;
}

.emailAdressDiv{
    margin-top: 10px;
}

.continuebutton{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    color: white;
    background-color: #ab2656;
    border: none;
    margin-top: 40px;
}

.emailAdressInput{
    border-bottom: solid white;
}

@media screen (max-width: 375px) {
    .middleSection{
        width: 100%;
        
        
    }
    
}

@media screen (max-width: 500px) {
    .middleSection{
        width: 100%;
        
        
    }
    
}


